<div class="content_wrapper">

  <div class="left__menu">
  </div>
  <div class="main__menu">
    <h1 class="main__menu__about">一日のカロリーを<br>
    シンプルに記録をつけよう
    </h1>
    <p class="main__menu__text">
    シンプルに一日に取った摂取カロリーを計算ができるアプリです。</p>
    <%= link_to '本日のカロリー', new_calory_path, class: "todo_kcal"%>
    
    <div class="main__menu__about__text">
    <% @calories.each do |calorie| %>
      <div>
        <p><%= calorie.name %></p>
        <p><%= calorie.calorie_morning.to_i + calorie.calorie_lunch.to_i + calorie.calorie_night.to_i %>kcal</p>
        <p><%= calorie.content %></p>
        <p class="main__menu__about__text__time"><%= calorie.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </p>
      </div>

      <div>
        <ul class="more_list">
          <li>
          <%= link_to '削除', "/calories/#{calorie.id}", method: :delete, class: "more_list__link",data: {confirm: "本当に削除しますか？"}%></li>
          <li>
          <%= link_to '編集', "/calories/#{calorie.id}/edit", method: :get, class: "more_list__link",data: {confirm: "編集しますか？"}%></li>
        </ul>
      </div>
    <% end %>
    </div>
  </div>

</div>
