<div class="content_wrapper">

  <div class="left__menu">
  </div>
  <div class="main__menu">
    <h1 class="main__menu__about">一日のカロリーを<br>
    シンプルに記録をつけよう
    </h1>
    <p class="main__menu__text">
    シンプルに一日で取った摂取カロリーを
    計算ができるアプリです。
    </p>
    <%= link_to '本日のカロリー', new_calory_path, class: "todo_kcal"%>
    
    

    <div class="main__menu__about__text">
    <% @calories.each do |calorie| %>
      <p><%= calorie.name %></p>
      <p><%= calorie.calorie_morning.to_i + calorie.calorie_lunch.to_i + calorie.calorie_night.to_i %>kcal</p> 
      <p><%= calorie.content %></p>
      <p><%= calorie.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
    <% end %>
    </div>

  </div>

</div>
