<div class="new_content_wrapper">
  <p class="new_news">本日のカロリーを入れてください</p> 

  <div class="new__main">

  <%= form_with(model: @calorie, local: true) do |form| %>
    <p>名前</p>
    <%= form.text_field :name %><br>
    <p>カロリー</p>
    <%= form.number_field :calorie_morning %>
    <%= form.number_field :calorie_lunch %>
    <%= form.number_field :calorie_night %>
    <p>コメント</p>
    <%= form.text_area :content, size: "50x8", rows: "5" %>
    <%= form.submit value="投稿する"%>
  <% end %>

  </div>
</div>