<!DOCTYPE html>
<html>
  <head>
    <title>DoCalorie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
        <h1 class="header__bar__id"><a href="/" class="header__item">DoCalorie</a></h1>
      </header>

    <%= yield %>
  </body>
</html>
